<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/new">
        <h1>Welcome to the form</h1>
        <input name="messageUser">Name pls</input>
        <input name="messageText">Text area</input>
        <button type="submit" >Submit</button>
    </form>
</body>
</html>