<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my app: <% title%></h1>
    <a href="/users/user/">This link is for the form</a>
    <ul>
        <% for (let i = 0; i < messages.length; i++) { %>
          <li><%= messages[i].user %>  <%= messages[i].text %>  <%= messages[i].added %></li>
        <% } %>
      </ul>
</body>
</html>